// Fonts

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Orbitron:wght@400;700&display=swap');;
$first-font: 'Dosis', sans-serif;
$second-font: 'Orbitron', sans-serif;


// Colors 

$text-color: rgb(253, 252, 252);
$link-color: rgb(202, 202, 202);
$pink: #ff0055c4;